<form action="/user/login" method="post">  
<div class="wow bounceInUp formulario">
<%=JSON.stringify(errors.message)%><br>
  <label  class="upload_field"><b>Login:</b></label><br><br>
  <label for="nombre" class="upload_field">username:</label><br>
  <input type="text" name="nombre" placeholder="username"><br><br>
  <label for="password" class="upload_field">password:</label><br>
  <input type="password" name="password" placeholder="password"><br><br>


  <button  type="submit" class="btn btn-1 btn-1d">Login</button><br><br>
 
  </div>
</form>