<form action="/user/login" method="post">  
<div class="wow bounceInUp formulario">
<%=JSON.stringify(errors.message)%><br>
	<span class="input input--nariko">
		<input class="input__field input__field--nariko"  name="nombre" type="text" id="input-20" />
		<label class="input__label input__label--nariko" for="input-20">
			<span class="input__label-content input__label-content--nariko">Username</span>
		</label>
	</span><br>
	<span class="input input--nariko">
		<input class="input__field input__field--nariko" name="password" type="password" id="input-21" />
		<label class="input__label input__label--nariko" for="input-21">
			<span class="input__label-content input__label-content--nariko">Password</span>
		</label>
	</span><br>


<br>


  <button  type="submit" class="btn btn-1 btn-1d">Login</button><br><br>
 			

				
			
  </div>
</form>
<script src="/javascripts/classie.js"></script>
		<script>
			(function() {
				// trim polyfill : https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/String/Trim
				if (!String.prototype.trim) {
					(function() {
						// Make sure we trim BOM and NBSP
						var rtrim = /^[\s\uFEFF\xA0]+|[\s\uFEFF\xA0]+$/g;
						String.prototype.trim = function() {
							return this.replace(rtrim, '');
						};
					})();
				}

				[].slice.call( document.querySelectorAll( 'input.input__field' ) ).forEach( function( inputEl ) {
					// in case the input is already filled..
					if( inputEl.value.trim() !== '' ) {
						classie.add( inputEl.parentNode, 'input--filled' );
					}

					// events:
					inputEl.addEventListener( 'focus', onInputFocus );
					inputEl.addEventListener( 'blur', onInputBlur );
				} );

				function onInputFocus( ev ) {
					classie.add( ev.target.parentNode, 'input--filled' );
				}

				function onInputBlur( ev ) {
					if( ev.target.value.trim() === '' ) {
						classie.remove( ev.target.parentNode, 'input--filled' );
					}
				}
			})();
		</script>